@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-firago: var(--font-firago4);
}
.scrollable {
  scrollbar-width: thin; /* Firefox-ისთვის */
  scrollbar-color: #8338EC #f0f0f0; /* Firefox-ისთვის */
}

.scrollable::-webkit-scrollbar {
  width: 8px; /* WebKit-ისთვის (Chrome, Safari) */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #8338EC; /* სქროლის ზოლის ფერი */
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* სქროლის ფონის ფერი */
  border-radius: 4px;
}
.custom-calendar {
  background: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.react-datepicker__day {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}

.normal-day {
  color: #343a40;
}

.selected-day {
  background-color: #8338ec;
  color: white;
  font-weight: bold;
  border: 2px solid #8338ec;
}

.react-datepicker__day:hover {
  background-color: rgba(131, 56, 236, 0.2);
}
